{% extends "layout.html" %}
{% block title %}마이페이지 | EWHA MARKET{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/userhome_style.css') }}">
{% endblock %}

{% block content %}
<main class="mypage-container">

  <!-- 사이드바 -->
  <aside class="sidebar">
    <ul>
      <li class="{% if active_section == 'profile' %}active{% endif %}">
        <a href="{{ url_for('user.mypage', section='profile') }}">회원정보</a>
      </li>
      <li class="{% if active_section == 'wishlist' %}active{% endif %}">
        <a href="{{ url_for('user.mypage', section='wishlist') }}">관심 상품</a>
      </li>
      <li class="{% if active_section == 'review' %}active{% endif %}">
        <a href="{{ url_for('user.mypage', section='review') }}">내 리뷰</a>
      </li>
      <li class="{% if active_section == 'buy' %}active{% endif %}">
        <a href="{{ url_for('user.mypage', section='buy') }}">구매 내역</a>
      </li>
      <li class="{% if active_section == 'sell' %}active{% endif %}">
        <a href="{{ url_for('user.mypage', section='sell') }}">판매 내역</a>
      </li>
    </ul>
  </aside>

  <!-- 오른쪽 콘텐츠 -->
  <section class="content-area">

    {% if active_section == 'profile' %}
      {% include 'mypage/_profile.html' %}
    {% elif active_section == 'wishlist' %}
      {% include 'mypage/_wishlist.html' %}
    {% elif active_section == 'review' %}
      {% include 'mypage/_myreview.html' %}
    {% elif active_section == 'sell' %}
      {% include 'mypage/_sellList.html' %}
    {% elif active_section == 'buy' %}
      {% include 'mypage/_buyList.html' %}
    {% endif %}
    

  </section>

</main>
{% endblock %}

{% block script %}
{# 탭 전환용 JS는 이제 필요 없음. 
   회원정보 수정용 함수 같은 것만 각 partial에서 쓰면 됨. #}
{% endblock %}